#folders {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#create-folder-form {
	margin-top: 60px;
	margin-left: auto;
	margin-right: 0px;
	padding: 0px;
	width: 240px;
}

#folderTable {
	width: 100%;
	border-style: none;
	border-collapse: collapse;
}

#folderTable th {
	font-size: 120%;
}

.folderRow {
	height: 36px;
}

#folderTable .folderRow2 td {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
}

.foldername,.foldersize {
	font-size: 160%;
}

.foldersize {
	text-align: center;
	width: 100px;
}

.folder-edit {
	text-align: right;
	width: 100px;
}

/*=====  edit folder css ======= */
#old-folder-name,#new-folder-name,#folder-dsp {
	width: 300px;
}

#folder-dsp {
	height: 140px;
}

#purge-cmd {
	margin-left: 30px;
}

#edit-folder-form {
	margin-top: 20px;
	margin-bottom: 20px;
}

#create-folder {
	float: left;
	margin-top: 40px;
	margin-left: 10px;
}