#main{
	width: 100%;
	margin:7px;
	padding:0px;
}

.usersTable {
/* font-size: 12px;*/
 border-width: 1px;
 border-style: outset;
}

table.usersTable td, table.usersTable th {
 padding: 5px;
 border-width: 1px;
 border-style: inset;
} 
