#userStats {
	margin: 40px auto auto auto;
    width: 460px;
}

#userStats p {
	font-size: 12px;
	text-align: center;
	padding-bottom: 8px;
	margin:8px;
}

.username, .bookmark_num, .tag_num{
	font-size: 16px;
}

.username{
	font-weight: bold;
}

.bookmark_num, .tag_num {
	text-align:right;
}

#userStatTable{
	width:100%;
}        

#userStatTable td{
	padding-left:10px;
	padding-right:10px;
	padding-top: 2px;
	padding-bottom:2px;
}

.viewer_links {
	height: 30px;
	vertical-align:top;
	padding-top: 0px;
	padding-bottom:0px;
}


.viewer_links td{
	font-size: 10px;
	text-align:top;
}

.altLink{
	font-size: 0.75em;
}
