.tableone {
	width:100%;
	border-collapse:collapse;
	//margin:0 auto;
	margin-top: 10px;
	margin-bottom: -5px;
}
.tabletwo {
	width:100%;
	border-collapse:collapse;
	font-size: 10px;
}

.th1, .td1 {
	width:100%;
	text-align:left;
}
.th2, .td2{
	width:100%;
	text-align:center;
}

.tableone {background:#999999; border:1px solid #fff; color:#fff;}
.tableone td {
//border:1px 
//	solid #fff; color:#fff;
}
.tableone tbody {
	color: #4C4C4C;
	background-color: #FFF;	
}
.tableone caption {background:#fff; color:#4C4C4C; font-size:14px; margin:0 auto;}

.tabletwo td {
	color: #4C4C4C;
	background-color: #FFF;
}

.tableone th, .tabletwo th {
	text-align:center;
    padding-right: 8px;
}

.innerb {
	height:400px;
	overflow:auto;
}

.innerb a:link{
	text-decoration: none; 
	color: #FF6600; 
}

.innerb a:visited{
	text-decoration: none; 
	color: #FF6600;
}

.innerb a:hover{
 	text-decoration: underline; 
	color: #FF6600;
}

#map{	
	height: 400px;
}