#loading{
	position: absolute;
	top:8px;
	right:0px;
}

#container {
	width: 100%;
	position: relative;
}

#container .column { /*border: 1px solid #4C4C4C;*/
	
}

#center {
	margin-left: 240px;
	margin-right: 240px;
}

#left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 240px;
}

#right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 240px;
}

#map {
	width: 100%;
	height: 480px;
	border-style: solid;
	border-color: #C0C0C0;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;	
}

.scrollableList{
	overflow: scroll;
}

#selectBookmark .scrollableList{
	height:440px;
}

#bookmarkDescription .scrollableList{
	height:480px;
}

#pageShowing{
	float:left;
	margin-top: 4px;
}

#pagingControl{
	float:right;
	margin-top: 4px;
	margin-right: 8px;
}

#bookmarkListTable, #bookmarkList {
	margin: 0px 0px;
	padding: 0px;
	width: 220px;
}

#bookmarkList .bookmarkTitle {
	font-size: 1.10em;
}

#bookmarkList tr {
	margin: 0px;
	padding: 0px;
}

#bookmarkList td {
	padding-top: 0px;
	padding-bottom: 10px;
	margin: 0px;
}

#bookmarkList .bookmarkTitleCell {
	padding-left: 0px;
	padding-right: 4px;
	width: 90%;
}

#bookmarkList .showHidePlacemarkCell {
	vertical-align: top;
	padding-right: 8px;
	text-align: right;
}

#selectBookmarkOpt {
	text-align: right;
	padding-right: 8px;
	margin-bottom: 8px;
}

.showPlacemark {
	width: 12px;
	padding: 0px;
	margin: 0px;
}

#bookmarkDescription {
	margin-left: 8px;
}

#bookmarkDescription h5 {
	margin: 8px 0px 8px 4px;
	font-size: 0.90em;
}

#bookmarkDescription ul.tags {
	margin: 0px 0px 0px 30px;
	padding: 0px;
}

#bookmarkDescription ul.placemarks {
	margin: 0px 0px 0px 15px;
	padding: 0px;
}

#bookmarkDescription ul.placemarks li {
	list-style-type: none;
	margin: 0px 0px 20px 0px;
}

#bookmarkDescription ul.placemarks li img {
	vertical-align:text-bottom;	
	margin-right: 8px;
	padding-bottom: 2px;
}

#bookmarkDescription ul.placemarks li img:hover {
	background-color: pink;
}

.notesContainer{
	width: 220px;
}