.warning-message {
	font-weight:bold;
	color: #E41B17;
}

.status-message {
    font-weight:bold;
    color: #4CC417;
}

.notice-block {
	text-align: center;
}

#action-message ul{
	padding-left: 0px;
	list-style-type: none;
}

#action-message li {
   	font-size: 16px;
	color: #E41B17;
}
 