.version{
	font-size: 10px;
	vertical-align: text-top;
}

.loginPage{ 
	margin: auto;
	position: static;
}

#siteBanner{
	margin: 40px 0px 0px 20px;
}

#siteFeatures {
	float:left;
	width: 300px;
	margin-top: 40px;
	margin-left: 60px;
	margin-right: 10px;
	padding: 0px;
}

#siteLogin{
	float: left;
	width: 240px;
	margin: 40px auto 0px auto;
	padding: 8px;
	border-style: solid;
	border-color: #ccc;
    border-width: medium;
    padding: 1.5em 2em;
}

h1.siteName{
	font-size: 2em;
	color: #FF6600;
	margin-top: 1em;
	margin-bottom: 1em;
}

h2.siteDescription{
	font-size: 1.5em;
}

