#search-block{
	width: 300px;
	margin:auto;
}

#mini-search-block{
	position: relative;
	width: 90%;
	margin-bottom: 20px;
}

#mini-search-block #wwgrp_search-string{
	position: absolute;
	top: 0px;
	left: 0px;
}


.long-text-input{
	width: 300px;
}

#searchForm table{
   width: 300px;
   margin-left: auto;
   margin-right: auto;
}

#search-view-options{
	text-align:right;
	padding:0px;
	margin:auto;
}

/* ======== CSS used in OpenSearch result page ====== */

#searchPageContent{
	width: 100%;
	position:relative;
}

#searchPageContent #left{
	margin-right:200px;
}

#searchPageContent #right{
	position:absolute;
	top:0px;
	right:0px;
	width:180px;
}

#resultTilesRow{
	height: 480px;
}

#resultTiles {
	width: 100%;
}

.searchShortName{
	font-color: #736F6E;
	font-weight: bold;
	font-size: 10px;
}

.resultMeta {
	text-align: right;
}

.tileTitle{
	padding: 4px 4px;	
	background-color: #FAF8CC;	
	border-width:  1px;
	border-style: solid;
}

.tileContent{
	overflow: scroll;
	height: 480px;
	padding: 2px;
	border-left-width:  1px;
	border-left-style: solid;
	border-left-color:  #736F6E
}

.tileSeperator{
	width: 10px;
}

A.entryTitle{
	font-size: 1.25em;
	text-decoration: underline;
}

.fetchMoreDataLink{
	float:right;
	padding-right: 4px;
}

#selectSearchServices {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 4px;
}