.text-input-username {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;	
	width: 100px;
}

.text-input-password {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;	
	width: 100px;
}

.text-input-fullname {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;	
	width: 100px;
}

.text-input-email {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;	
	width: 100px;
}


