.nav-brdr1{
	background-color: #CCCCCC;
	height: 0.2em;
	border: 1px solid #4C4C4C;
	border-width: 1px 0 0 0; //
	margin-top: 4px;
}

#header2-menu-follow {
	border-left: 1px solid #666;
	border-right: 1px solid #666;;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	clear: both;
	background: #FFF3B3;
	padding-top: 2em;
}

#header2-sub-menu {
	position: absolute;
	top: 80px;
	right: 10px;	
	width: auto;
}

#header2-sub-menu ul{
	display:inline;
	margin: 0px;
	padding: 0px 8px 0px 8px;
	list-style-type: none;		
}

#header2-sub-menu li, #header2-sub-menu li.first{
	margin: 0px 2px 0px 10px;
	padding: 0px;
	border-left: none;
	list-style: none;
	display: inline;
	font-size: 1.25em;
}

#header2 {
   position:relative;
   height: 40px;
   padding: 0px;
   margin: 0px 0px 0px 0px;
}

#header2 a:link, #header2 a:visited  {
	text-decoration: none;
	color: #4C4C4C;
}

#header2 a:hover {
	color: #FF6600;
	text-decoration: underline;
}

#header2 a:active {
	color: #4C4C4C;
	text-decoration: underline;
}

#header2 a.user:link, 
#header2 a.user:visited,
#header2 a.user:hover,
#header2 a.user:active{
	color: #FF0000;
	text-decoration: underline;
	font-weight: bold;
}
/*
#header2-l, #header2-r{
	margin: 0px;
	padding: 0px;
}
*/

#header2-l{
	position:absolute;
 	top: 0px;
 	left: 0px;
 	width: 400px;
 	margin: 0px 8px;
 	padding: 0px;
}

#header2-l .logo {
	font-size: 20px;
}

#header2-l .logo a:link, 
#header2-l .logo a:visited,
#header2-l .logo a:hover,
#header2-l .logo a:active{
	color: #FF6600;
	text-decoration: none;
}

#header2-r{
 position:absolute;
 top:0;
 right:0;
 text-align:right;
 width:50%;

}

#header2-r ul#app-links {
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
	float: right;	
}

#header2-r ul#app-links li.first, #header2-r ul#app-links li {
	margin: 0px;
	padding: 0px;
	border-left: none;
	list-style: none;
	display: inline;
}

#header2-r ul#app-links li  {
	border-left: 1px solid #666;
	padding-left: 6px;
}

#header2-menu {
	position: relative;
	width: 60%;
	height: 3em;
	/*width: 45em;*/ /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header2-menu ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	/*width: 45em;*/ /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	width: 100%;
}

#header2-menu ul#primary li  {
	display: inline;
	list-style: none;
}

#header2-menu ul#primary a,#header2-menu ul#primary span,#header2-menu ul#primary a.current {
    /*width: 8em;*/
    width: auto;
	display: block;
	float: left;
	/*padding: 4px 0px;*/
    padding: 4px 4px;
	margin: 1px 2px 0 0;
	text-align: center;
	text-decoration: none;
	color: #333;
}

#header2-menu ul#primary span,#header2-menu ul#primary a.current,#header2-menu ul#primary a.current:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: #FFF3B3;
	padding-bottom: 6px;
	margin-top: 0;
}

#header2-menu ul#primary a {
	background: #FFFAE1;
	border: 1px solid #AAA;
	border-bottom: none;
}

#header2-menu ul#primary a:hover {
	margin-top: 0;
	border-color: #666;
	background: #FFF7CD;
	padding-bottom: 5px;
}

#header2-menu ul#secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -18px;
	left: 1px;
	border-left: 1px solid #FFF3B3;
	width: 70em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header2-menu ul#secondary li a,#header2-menu ul#secondary li span {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: auto;
	border: none;
	border-right: 1px dotted #AAA;
	background: none;

}

#header2-menu ul#secondary li a {
	color: #06C;
	text-decoration: underline;
}

#header2-menu ul#secondary li a:hover {
	color: #333;
	background: transparent;
	padding: 0 10px;
	border: none;
	border-right: 1px dotted #AAA;
}

#header2-menu ul#secondary li a:active {
	color: #000;
	background: transparent;
}

#header2-menu ul#secondary li:last-child a { border: none; }