#editArea{
  height: 200px;
}

#editTools{
	margin-top: 20px;
	width: 680px;
}

#tagCloud{
	overflow: scroll;
	width: 100%;
	height: 300px;	
	border-style: solid;
	border-color: #C0C0C0;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}

#userTags ol, #userTags li{
	display: inline;
}

#userTags{
	font-size: 12px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 0px;
}

#userTags li{
	line-height: 150%;
	margin-left: 6px;
}

.tag-cloud {
	text-align: justify;
    font-size: 12px;
}

.tag-cloud .popular, .tag-cloud .not-popular, .tag-cloud .very-popular, .tag-cloud .ultra-popular {
	font-size: 12px;
}

.tag-cloud .not-popular {
	color: #F9966B;	
	font-weight: lighter;
}	

.tag-cloud .popular {	
	font-weight: bold;	
}

.tag-cloud .very-popular, .tag-cloud .ultra-popular{
	color: #C35817;
	font-weight: bolder;
}


#controlPanel {
	float: left;
}

#controlPanel ul {
	list-style-type: none;	
	margin-top: 0px;
	font-size: 120%;
}

#controlPanel li{
 padding-top: 7px;
 padding-bottom: 7px;
 text-align: right;
}

#controlPanel .editTag{
	font-weight:bolder;
}
#controlPanel .optionFocused, #controlPanel .option{
	padding-left:10px;
	padding-right: 10px;
}

#controlPanel .optionFocused{
 background-color:lightgrey;
 padding-top:6px;
 padding-bottom:6px;
}

#editor {
	background-color: lightgrey;
	float: left;
	padding: 20px;
	height: 150px;
}

.editor-input {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;	
	width: 380px;
	word-spacing: 4px;
}

#selectUserTag ol {
   padding:0px;
   margin-left: 50px;
   margin-right: 50px;
   font-size: 12px;
}
