#search-block{
	width: 300px;
	margin:auto;
}

#mini-search-block{
	position: relative;
	width: 90%;
	margin-bottom: 20px;
}

#mini-search-block #wwgrp_search-string{
	position: absolute;
	top: 0px;
	left: 0px;
}


.long-text-input{
	width: 300px;
}

#searchForm table{
   width: 300px;
   margin-left: auto;
   margin-right: auto;
}

#search-view-options{
	text-align:right;
	padding:0px;
	margin:auto;
}

/* ======== CSS used in OpenSearch result page ====== */

#searchPageContent{
	width: 100%;
	position:relative;
}

#searchPageContent #left{
	margin-right:260px;
}

#searchPageContent #right{
	position:absolute;
	top:0px;
	right:0px;
	width:240px;
}

#resultTiles {
	width: 100%;
}

#resultTiles, #resultTiles td{
	border-width:  1px;
	border-style: solid;
}

.tileSeperator{
	width: 10px;
}

#selectSearchServices {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 4px;
}