#editArea{
  height: 260px;
}

#controlPanel {
	float: left;
}

#controlPanel ul {
	list-style-type: none;	
	margin-top: 0px;
	font-size: 120%;
}

#controlPanel li{
 padding-top: 7px;
 padding-bottom: 7px;
 text-align: right;
}

#controlPanel .editTag{
	font-weight:bolder;
}
#controlPanel .optionFocused, #controlPanel .option{
	padding-left:10px;
	padding-right: 10px;
}

#controlPanel .optionFocused{
 background-color:lightgrey;
 padding-top:6px;
 padding-bottom:6px;
}

#editor {
	background-color: lightgrey;
	float: left;
	padding: 20px;
	height: 150px;
}

.editor-input {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;	
	width: 380px;
	word-spacing: 4px;
}

#selectUserTag ol {
   padding:0px;
   margin-left: 50px;
   margin-right: 50px;
   font-size: 12px;
}
